:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: "Mozilla Text", sans-serif;
    background-color: #111111;
    color: white;

    height: 100vh;
}

.project-description b {
    font-weight: bold;
    color: rgb(0, 170, 255);
}