:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: "Mozilla Text", sans-serif;
    background-color: #111111;
    color: white;

    height: 100vh;
}

#tsparticles {
    width: 100%;
    height: 100%;
}
